[data-bs-theme = "dark"]{
    body{
        background: none;
        background-color: #343a40;;
    }
    #contactme>form>div{
        background: none !important; 
    }
    .btn-dark{
        background-color: #5bc0de !important; 
        color: #343a40;
    }
    .link-dark{
        color: white !important;
    }
    #footer{
        background-color: #343a40 !important;
        color: white !important;
    }
} 

body {
    background-image: url(/img/circle-scatter-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

#social-media>.list-group-item {
    background: none;
}

#social-media>.list-group-item:hover {
    transform: translateX(10px);
    transition: ease-in .2s;
}

.navbar-nav>.nav-item>.nav-link:hover {
    color: #5bc0de;
}

#projects>div>.card:hover {
    border: none;
    transform: translateZ(0) scale(1.05);
    transition: ease-in .2s;
    box-shadow: 0rem 0.5rem 1rem  lightgray;
}

#skills>div>.card:hover {
    border: solid black;
    transform: translateZ(0) scale(1.05);
    transition: ease-in .2s;
    box-shadow: 0rem 0.5rem 1rem  lightgray;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

#footer {
    position: static;
    bottom: 0px;
}
